.cat2{
    background-color: orchid;
}
.top{
    margin-top: 100px;
}
.orange-bg{
    background-color: rgb(252, 234, 232) ;
    border-radius: 10px;
}
.banner-bg{
    background-color: rgb(252, 234, 232);
}